* {
    background-color: black;
    color: white;
    font-size: 30px;
}

.box {
    border: 20px solid white;
    padding: 20px;
}

.title {
    margin: 0 auto;
    font-size: 50px;
    padding: 10px;
    width: fit-content;
    display: inline-flex;
}

.image {
    height: auto;
    width: 500px;
    border: 10px solid white;
    margin: 0 auto;
    margin-left: 1770px;
}

.text {
    text-align: center;
    border: 20px solid white;
    border-top: 0px;
    border-bottom: 0px;
    padding: 10px;
}

.container {
    border: 20px solid white;
    margin: 0 auto;
    display: flex;
}

.unorder {
    color: white;
    padding: 15px;
    margin: 20px;
}

.order {
    color: white;
    padding: 15px;
    margin: 20px;
    margin-left: 1500px;
}

