* {
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}

img {
    height: auto;
    width: 500px;
    border: 40px solid red;
    margin: 20px;
}

ul {
    list-style: none;
}

h1 {
    font-size: 50px;
}

.alpha {
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}

.box {
    border: 20px solid white;
    padding: 10px;
    margin: 20px;
    background: black;
    width: min-content;    
}

.container {
    border: 5px solid white;
    width: fit-content;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

button {
    background-color: white;
    color: black;
    padding: 5px;
    font-weight: bold;
    width: 370px;    
}

button:hover {
    background-color: red;
}


